.navbar {
    -webkit-box-shadow: unset;
    box-shadow: unset
}

.navbar.scrolled{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.contact-us-btn {
    font-size: 13px !important;
    padding: .5rem 1.0rem !important;
    border-radius: 20px;
    background-color: #185797;
    border-color: #185797;
}

.contact-us-btn:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.nav-items {
    justify-content: flex-end;
    margin-right: 50px;
}

.nav-link {
    color: lightgrey;
    font-weight: 400;
}

.nav-link:hover {
    color: white;
    font-weight: 400;
}

.container-fluid {
    padding: 0px;
    margin: 0px;
}

.row {
    margin: 0;
}

.container {
    padding: 0px;
}

.no-padding {
    padding: 0px;
}

.no-margin{
    margin: 0;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-rounded{
    border-radius: 50%;
}

.section-6{
    height: 100%;
    padding-top: 12%;;
}

.section-6-img{
    width: 40%;
}

.section-6-box{
    width: 70%;
}

.section-6-card{
    width: 90%;
    margin: 2px;
}

.card{
    align-items: center;
}

.card-body{
    text-align: center;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-header-lg {
    color: #ffa102;
    text-shadow: 0 3px 13px rgba(255, 255, 255, 0.16);
    font-weight: 500;
    font-size: 55px;
    line-height: 0.65;
}

.home-center-logo {
    width: 145px;
    height: 145px;
    background-color: #f9f1e8;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.16);
    padding: 15px;
    border: solid 0.5px #65728c;
}

.home-header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.font-white {
    color: white;
    word-wrap: break-word;
}

.rgba-black-light {
    background-color: rgba(0, 0, 0, .6);
}

.btn-round {
    border-radius: 50%;
    height: 65px;
    width: 65px;
    padding: 0px;
}

.btn-round:hover {
    border: 2px solid #185797 !important;
    background-color: #185797 !important;
    color: white !important;
}

.text-5 {
    font-weight: 500;
}

.text-6 {
    font-weight: 400;
}

.section-2-img {
    width: 125px;
    height: 125px;
    margin: 0 auto 37px auto;
}

.section-5-box{
    width: 210px;
    height: 100px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #eeeeee;
    border: solid 0.4px #3d4553;
}

.img-no-cover {
    width: 100%;
}

.col-md-6 {
    padding: 0;
}

.footer {
    height: 450px;
    background-color: #212121;
    /* opacity: 0.95; */
}

.footer-img {
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.navbar-default {
    transition: 500ms ease;
    background: transparent;
}

.navbar-default.scrolled {
    background: white;
}

.section-5-carousel{
    display: flex;
    flex-direction: row;
    align-items: center;
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon{
  /* background-color:red; */
  color: #95989a;
}

body .carousel-indicators li{
    background-color:#d9dcdf;
  }

  .carousel-indicators .active{
      background-color:  #185797;
  }